@inject IAuthorizationService AuthorizationService;
@{
    ViewData["Title"] = "Quản lý sinh viên";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox  m-t-xl">
            <div class="ibox-content p-xl">
                <input type="hidden" id="hid-category-id" value="0" />
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Student</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
                                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin", Operations.Create)).Succeeded)
                                {
                                    <button class="btn btn-success" id="btn-create" type="button">Create</button>
                                }
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" id="txt-search-keyword" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="btn-search" type="button">Search!</button>
                                    </span>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table id="tbl-product" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Account</th>
                                                <th>Name</th>
                                                <th>Class</th>
                                                <th>BirthDay</th>
                                                <th>Floor</th>
                                                <th>Room</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-content"></tbody>
                                    </table>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                                <select id="ddl-show-page">
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                </select>
                                                <span class="item-per-page">
                                                    record/page.
                                                </span>
                                                Total record count: <strong id="lbl-total-records"></strong>
                                            </div>
                                        </div><div class="col-sm-7">
                                            <div class="dataTables_paginate" id="datatable-checkbox_paginate">
                                                <ul id="paginationUL"></ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <script id="table-template" type="x-tmpl-mustache">
                        <tr>
                            <td>{{StudentIdentify}}</td>
                            <td>{{FullName}}</td>
                            <td>{{{Class}}}</td>
                            <td>{{{Birthday}}}</td>
                            <td>{{{Floor}}}</td>
                            <td>{{{Room}}}</td>
                            <td>
                                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin", Operations.Update)).Succeeded)
                                {
                                    <a href="#" data-id="{{Id}}" class="btn-edit"><i class="fa fa-pencil-square-o"></i></a>
                                }
                            </td>
                            <td>
                                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin", Operations.Delete)).Succeeded)
                                {
                                    <a href="#" data-id="{{Id}}" class="btn-delete"><i class="fa fa-trash-o"></i></a>

                                }
                            </td>
                        </tr>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script id="role-template" type="x-tmpl-mustache">
    <div class="checkbox">
        <label>
            <input type="checkbox" {{Checked}} value="{{Name}}" name="ckRoles">
            <span class="text">{{Description}}</span>
        </label>
    </div>
</script>
@await Component.InvokeAsync("Student", new { maxPriority = 4, isDone = true })

@section Scripts{
    <script src="@Url.Content("~/admin-side/js/student/add-student.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/admin-side/js/student/list-student.js")" asp-append-version="true"></script>
}
