<div class="row">
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-success float-right">học viên</span>
                <h5>Sinh viên</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">400,0</h1>
                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                <small>Total income</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-info float-right">phòng</span>
                <h5>Số phòng</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">100,00</h1>
                <div class="stat-percent font-bold text-info">80% <i class="fa fa-level-up"></i></div>
                <small>Phòng trọ</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-primary float-right">VNĐ</span>
                <h5>Thu nhập</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">10.120.000</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>VNĐ</small>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        @await Html.PartialAsync("_TransassionChart")
    </div>
</div>