<div class="ibox ">
    <div class="ibox-content ibox-heading">
        <h3>Lịch làm việc</h3>
        <small><i class="fa fa-calendar m-1"></i>Lịch làm việc hàng ngày của ký túc xá bắt đầu từ 5h - 0h</small>
    </div>
    <div class="ibox-content inspinia-timeline">
        <div class="timeline-item">
            <div class="row">
                <div class="col-3 date">
                    <i class="fa fa-briefcase"></i>
                    5:00 am
                </div>
                <div class="col content no-top-border">
                    <p class="m-b-xs"><strong>Mở cửa ký túc xá</strong></p>
                    <p>
                        Mở các cổng ký túc xá, cho phép sinh viên ra vào ký túc xá.
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="row">
                <div class="col-3 date">
                    <i class="fa fa-coffee"></i>
                    12:00 am
                </div>
                <div class="col content">
                    <p class="m-b-xs"><strong>Nghỉ trưa, ăn trưa</strong></p>
                    <p>Căng tin chuẩn bị bữa trưa cho sinh viên. Vệ sinh  căng tin, các phòng và hành lang của ký túc xá.</p>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="row">
                <div class="col-3 date">
                    <i class="fa fa-lock"></i>
                    23:00 am
                    <br>
                </div>
                <div class="col content">
                    <p class="m-b-xs"><strong>Đóng của ký túc xá</strong></p>
                    <p>Thông báo giờ giới nghiêm của ký túc xá từ lúc 23h30. Đóng cửa ký túc xá và không cho phép sinh viên ra ngoài từ 24h00.</p>
                </div>
            </div>
        </div>
    </div>
</div>